@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --black: #000;
    --black-light: #353535;
    --white: #fff;
    --white-dark: #dadada;
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.title {
    text-align: center;
    margin: 40px 0 0 0;
}
.board {
    height: calc(100vh - 83px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.board > .tiles {
    height: 510px;
    width: 510px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--white-dark);
}
.board > .tiles > .tile {
    background-color: var(--black-light);
    margin: 10px;
    border-radius: 10px;
    font-size: 4rem;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.board > .tiles > .tile:active {
    background-color: #727272;
}
.board > .tiles > .tile > p {
    margin: 0;
}
dialog {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.521);
    border: none;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
dialog > p {
    color: var(--white-dark);
    font-size: 4rem;
}
dialog > input {
    background-color: var(--white-dark);
    border: solid 3px var(--white);
    font-size: 2rem;
    border-radius: 10px;
}